# Local .terraform directories
.terraform/

# Local state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files (meant for local use only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config files
.terraformrc
terraform.rc
